.ImageToolbar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  user-select: none;
}

.BorderDiv {
  width: 1px;
  height: 20px;
  background: #ececec;
}

.ReaplaceContainer,
.RadiusContainer,
.CropContainer,
.DoneContainer {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 100%;
}
.DoneContainer:hover,
.ReaplaceContainer:hover,
.CropContainer:hover {
  background: rgba(88, 110, 224, 0.06);
}
.DoneContainer:active,
.ReaplaceContainer:active,
.CropContainer:active {
  background: rgba(88, 110, 224, 0.12);
}

.ReaplaceContainer p,
.CropContainer p {
  margin: 0;
  font-weight: 300;
  font-size: 14px;
  margin-left: 0.375rem;
}

.ReaplaceContainer {
  padding-left: 1rem;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding-right: 0.75rem;
}

.DoneContainer {
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 15px;
}

.CropContainer {
  padding-right: 1rem;
  padding-left: 0.875rem;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}

.RadiusContainer {
  width: 3.7rem;
  padding-left: 0.75rem;
}

.RadiusInput {
  width: 100%;
  padding-left: 0;
  text-align: right;
  height: 100%;
  border: none;
  font: inherit;
  font-weight: 300;
  text-align: center;
}

.RadiusInput:focus {
  outline: none;
}

.RadiusInput:hover,
.StrokeWidthArrowContainer:hover {
  background: rgba(88, 110, 224, 0.06);
}

.RadiusInput::selection {
  background: #abb6ef;
}

.BorderStyle {
  border-radius: 15px;
}