.DesignToolbar {
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  width: auto;
  height: 2.5rem;
  position: absolute;
  bottom: -4.25rem;
  right: 1.75rem;
  user-select: none;
}

.BorderDiv {
  width: 1px;
  height: 20px;
  background: #ececec;
}

.DownArrow {
  width: 0.5rem;
  height: auto;
  user-select: none;
}

.ZoomContainer,
.ZoomInputArrowContainer,
.ResizeContainer,
.CurrentPageContainer,
.AddPageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.ZoomInputArrowContainer:hover,
.ResizeContainer:hover,
.CurrentPageContainer:hover,
.AddPageContainer:hover {
  background: rgba(88, 110, 224, 0.06);
}

.ZoomInputArrowContainer:active,
.ResizeContainer:active,
.CurrentPageContainer:active,
.AddPageContainer:active {
  background: rgba(88, 110, 224, 0.12);
}

.ZoomInputContainer {
  margin-left: 0.5rem;
  width: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ZoomInput {
  width: 100%;
  font-family: inherit;
  font-size: 0.875rem;
  border: none;
  text-align: right;
  padding: 0;
}

.ZoomInput::selection {
  background: #abb6ef;
}

.ZoomInput:focus {
  outline: none;
}
.ZoomInputPercent {
  margin: 0;
}
.ZoomInputArrowContainer {
  padding: 0 1rem;
  cursor: pointer;
}
.ResizeContainer {
  padding: 0 1rem;
  cursor: pointer;
}
.Resize {
  margin: 0;
  font-weight: 500;
  font-size: 0.875rem;
  color: #6f7bd0;
}
.CurrentPageContainer {
  padding: 0 1rem;
  position: relative;
  cursor: pointer;
}

.CurrentPage {
  margin: 0;
  position: absolute;
  font-weight: 500;
  font-size: 0.7rem;
  top: 0.85rem;
  left: 1.1rem;
  width: 1rem;
  text-align: center;
}

.AddPageContainer {
  padding: 0 1rem;
  cursor: pointer;
}
